In [1]:
# Import our dependencies
import pandas as pd
import matplotlib as plt
from sklearn.datasets import make_blobs
import sklearn as skl
import tensorflow as tf
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.datasets import load_digits

In [2]:
#2.Download the Alphabet Soup Charity dataset
charity_df= pd.read_csv("charity_data.csv")
charity_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
y_train = charity_df.IS_SUCCESSFUL
y_train

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [4]:
X_train= charity_df.drop(columns='IS_SUCCESSFUL')
X_train

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590
...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179

In [5]:
#3.Import and characterize the input data
charity_df_relevant = charity_df.drop(columns=['EIN', 'NAME'])
charity_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [6]:
# List dataframe data types
charity_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [7]:
X_train.nunique()

EIN                       34299
NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
dtype: int64

In [8]:
X_train[X_train.dtypes[X_train.dtypes=='object'].index].nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
dtype: int64

In [9]:
# Generate our categorical variable list
charity_cat = charity_df.dtypes[charity_df.dtypes == "object"].index.tolist()

# Check the number of unique values in each column
charity_df[charity_cat].nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
dtype: int64

In [11]:
# 4.Using the methods described in this module, preprocess all numerical and categorical variables, as needed
#Create the OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit the encoder and produce encoded DataFrame
encode_df = pd.DataFrame(enc.fit_transform(charity_df[charity_cat]), index=charity_df.index)

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(charity_cat)
encode_df.head

<bound method NDFrame.head of        NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC  \
0                                                    0.0
1                                                    0.0
2                                                    0.0
3                                                    0.0
4                                                    0.0
...                                                  ...
34294                                                0.0
34295                                                0.0
34296                                                0.0
34297                                                0.0
34298                                                0.0

       NAME_100 BLACK MEN OF AMERICA  NAME_100 BLACK MEN OF MEMPHIS INC  \
0                                0.0                                0.0
1                                0.0                                0.0
2                                0.0                                0.0
3                                0.0                                0.0
4                                0.0                                0.0
...                              ...                                ...
34294                            0.0                                0.0
34295                            0.0                                0.0
34296                            0.0                                0.0
34297                            0.0                                0.0
34298                            0.0                                0.0

       NAME_100 BLACK MEN OF WEST GEORGIA INC  NAME_1150 WEBSTER STREET INC  \
0                                         0.0                           0.0
1                                         0.0                           0.0
2                                         0.0                           0.0
3                                         0.0                           0.0
4                                         0.0                           0.0
...                                       ...                           ...
34294                                     0.0                           0.0
34295                                     0.0                           0.0
34296                                     0.0                           0.0
34297                                     0.0                           0.0
34298                                     0.0                           0.0

       NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION  \
0                                                    0.0
1                                                    0.0
2                                                    0.0
3                                                    0.0
4                                                    0.0
...                                                  ...
34294                                                0.0
34295                                                0.0
34296                                                0.0
34297                                                0.0
34298                                                0.0

       NAME_13TH BOMB SQUADRON ASSOCIATION  NAME_146TH ALUMNI ASSOCIATION  \
0                                      0.0                            0.0
1                                      0.0                            0.0
2                                      0.0                            0.0
3                                      0.0                            0.0
4                                      0.0                            0.0
...                                    ...                            ...
34294                                  0.0                            0.0
34295                                  0.0                            0.0
34296                                  0.0                            0.0
34297                                  0.0                            0.0
34298                                  0.0                            0.0

       NAME_14TH ARMORED DIVISION  \
0                             0.0
1                             0.0
2                             0.0
3                             0.0
4                             0.0
...                           ...
34294                         0.0
34295                         0.0
34296                         0.0
34297                         0.0
34298                         0.0

       NAME_150TH INTELLIGENCE SQUADRON ENLISTED ADVISORY COUNCIL  ...  \
0                                                    0.0           ...
1                                                    0.0           ...
2                                                    0.0           ...
3                                                    0.0           ...
4                                                    0.0           ...
...                                                  ...           ...
34294                                                0.0           ...
34295                                                0.0           ...
34296                                                0.0           ...
34297                                                0.0           ...
34298                                                0.0           ...

       INCOME_AMT_1-9999  INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  \
0                    0.0                     0.0                       0.0
1                    1.0                     0.0                       0.0
2                    0.0                     0.0                       0.0
3                    0.0                     1.0                       0.0
4                    0.0                     0.0                       1.0
...                  ...                     ...                       ...
34294                0.0                     0.0                       0.0
34295                0.0                     0.0                       0.0
34296                0.0                     0.0                       0.0
34297                0.0                     0.0                       0.0
34298                0.0                     0.0                       0.0

       INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  \
0                     0.0               0.0                     0.0
1                     0.0               0.0                     0.0
2                     0.0               0.0                     0.0
3                     0.0               0.0                     0.0
4                     0.0               0.0                     0.0
...                   ...               ...                     ...
34294                 0.0               0.0                     0.0
34295                 0.0               0.0                     0.0
34296                 0.0               0.0                     0.0
34297                 0.0               0.0                     0.0
34298                 0.0               1.0                     0.0

       INCOME_AMT_50M+  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_N  \
0                  0.0                0.0                       1.0
1                  0.0                0.0                       1.0
2                  0.0                0.0                       1.0
3                  0.0                0.0                       1.0
4                  0.0                0.0                       1.0
...                ...                ...                       ...
34294              0.0                0.0                       1.0
34295              0.0                0.0                       1.0
34296              0.0                0.0                       1.0
34297              0.0                0.0                       1.0
34298              0.0                0.0                       1.0

       SPECIAL_CONSIDERATIONS_Y
0                           0.0
1                           0.0
2                           0.0
3                           0.0
4                           0.0
...                         ...
34294                       0.0
34295                       0.0
34296                       0.0
34297                       0.0
34298                       0.0

[34299 rows x 19682 columns]>

In [12]:
#pd.get_dummies(X_train[X_train.dtypes[X_train.dtypes=='object'].index])

In [13]:
# Merge one-hot encoded features and drop the originals
charity_df = charity_df.merge(encode_df,left_index=True, right_index=True)
charity_df = charity_df.drop(charity_cat,1)
charity_df.head()

,EIN,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,10520599,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,10531628,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,10547893,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,10553066,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,10556103,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [14]:
#Split our preprocessed data into our features and target arrays
y = charity_df["IS_SUCCESSFUL"].values
X = charity_df.drop("IS_SUCCESSFUL",1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)
# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [60]:
from sklearn.datasets import load_digits
from sklearn.feature_selection import SelectKBest, chi2

select_k_best= SelectKBest(chi2, k=20)
select_k_best.fit(X_train,y_train)

pd.DataFrame(select_k_best.transform(X_train))

//anaconda3/lib/python3.7/site-packages/sklearn/feature_selection/_univariate_selection.py:167: RuntimeWarning: divide by zero encountered in true_divide
  chisq /= f_exp

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,454156045.0,14651.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1,263979862.0,5000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2,593225786.0,17162.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,264245024.0,5000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,814534614.0,5000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25719,453822148.0,5000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
25720,271068601.0,5000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
25721,593062311.0,108245.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
25722,464801799.0,5000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
25723,812481339.0,5000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [69]:
#feature_scores= pd.DataFrame({'feature' : X_train,'select_k_best': select_k_best.scores_} )
#feature_scores

In [70]:
#5.
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 7
hidden_nodes_layer2 = 4

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(
    tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_5"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_15 (Dense)             (None, 7)                 137802
_________________________________________________________________
dense_16 (Dense)             (None, 4)                 32
_________________________________________________________________
dense_17 (Dense)             (None, 1)                 5
=================================================================
Total params: 137,839
Trainable params: 137,839
Non-trainable params: 0
_________________________________________________________________

In [71]:
#6.Compile, train, and evaluate your binary classification model.
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Train on 25724 samples
Epoch 1/100
25724/25724 [==============================] - 5s 202us/sample - loss: 0.6452 - accuracy: 0.6968
Epoch 2/100
25724/25724 [==============================] - 4s 146us/sample - loss: 0.3457 - accuracy: 0.8347
Epoch 3/100
25724/25724 [==============================] - 4s 169us/sample - loss: 0.1711 - accuracy: 0.9338
Epoch 4/100
25724/25724 [==============================] - 4s 162us/sample - loss: 0.1247 - accuracy: 0.9498
Epoch 5/100
25724/25724 [==============================] - 4s 159us/sample - loss: 0.1090 - accuracy: 0.9530
Epoch 6/100
25724/25724 [==============================] - 4s 161us/sample - loss: 0.1048 - accuracy: 0.9540
Epoch 7/100
25724/25724 [==============================] - 4s 166us/sample - loss: 0.1031 - accuracy: 0.9543
Epoch 8/100
25724/25724 [==============================] - 4s 165us/sample - loss: 0.1017 - accuracy: 0.9543
Epoch 9/100
25724/25724 [==============================] - 5s 178us/sample - loss: 0.1007 - accuracy: 0.9548
Epoch 10/100
25724/25724 [==============================] - 4s 159us/sample - loss: 0.0999 - accuracy: 0.9550
Epoch 11/100
25724/25724 [==============================] - 4s 161us/sample - loss: 0.0987 - accuracy: 0.9565
Epoch 12/100
25724/25724 [==============================] - 4s 166us/sample - loss: 0.0990 - accuracy: 0.9570
Epoch 13/100
25724/25724 [==============================] - 4s 170us/sample - loss: 0.0981 - accuracy: 0.9565
Epoch 14/100
25724/25724 [==============================] - 4s 170us/sample - loss: 0.0977 - accuracy: 0.9566
Epoch 15/100
25724/25724 [==============================] - 4s 165us/sample - loss: 0.0972 - accuracy: 0.9584
Epoch 16/100
25724/25724 [==============================] - 4s 170us/sample - loss: 0.0967 - accuracy: 0.9582
Epoch 17/100
25724/25724 [==============================] - 4s 167us/sample - loss: 0.0962 - accuracy: 0.9584
Epoch 18/100
25724/25724 [==============================] - 4s 171us/sample - loss: 0.0958 - accuracy: 0.9587
Epoch 19/100
25724/25724 [==============================] - 4s 170us/sample - loss: 0.0959 - accuracy: 0.9589
Epoch 20/100
25724/25724 [==============================] - 4s 167us/sample - loss: 0.0955 - accuracy: 0.9594
Epoch 21/100
25724/25724 [==============================] - 4s 163us/sample - loss: 0.0954 - accuracy: 0.9598
Epoch 22/100
25724/25724 [==============================] - 4s 167us/sample - loss: 0.0947 - accuracy: 0.9602
Epoch 23/100
25724/25724 [==============================] - 4s 165us/sample - loss: 0.0945 - accuracy: 0.9606
Epoch 24/100
25724/25724 [==============================] - 4s 164us/sample - loss: 0.0940 - accuracy: 0.9607
Epoch 25/100
25724/25724 [==============================] - 4s 162us/sample - loss: 0.0939 - accuracy: 0.9606
Epoch 26/100
25724/25724 [==============================] - 4s 174us/sample - loss: 0.0936 - accuracy: 0.9607
Epoch 27/100
25724/25724 [==============================] - 4s 173us/sample - loss: 0.0935 - accuracy: 0.9600
Epoch 28/100
25724/25724 [==============================] - 4s 161us/sample - loss: 0.0957 - accuracy: 0.9578
Epoch 29/100
25724/25724 [==============================] - 4s 170us/sample - loss: 0.0940 - accuracy: 0.9601
Epoch 30/100
25724/25724 [==============================] - 4s 171us/sample - loss: 0.0925 - accuracy: 0.9610
Epoch 31/100
25724/25724 [==============================] - 4s 161us/sample - loss: 0.0925 - accuracy: 0.9613
Epoch 32/100
25724/25724 [==============================] - 4s 164us/sample - loss: 0.0919 - accuracy: 0.9613
Epoch 33/100
25724/25724 [==============================] - 4s 164us/sample - loss: 0.0914 - accuracy: 0.9614
Epoch 34/100
25724/25724 [==============================] - 4s 163us/sample - loss: 0.0913 - accuracy: 0.9616
Epoch 35/100
25724/25724 [==============================] - 5s 176us/sample - loss: 0.0915 - accuracy: 0.9613
Epoch 36/100
25724/25724 [==============================] - 4s 167us/sample - loss: 0.0911 - accuracy: 0.9618
Epoch 37/100
25724/25724 [==============================] - 4s 172us/sample - loss: 0.0910 - accuracy: 0.9624
Epoch 38/100
25724/25724 [==============================] - 4s 174us/sample - loss: 0.0908 - accuracy: 0.9621
Epoch 39/100
25724/25724 [==============================] - 4s 159us/sample - loss: 0.0905 - accuracy: 0.9619
Epoch 40/100
25724/25724 [==============================] - 4s 162us/sample - loss: 0.0906 - accuracy: 0.9619
Epoch 41/100
25724/25724 [==============================] - 4s 161us/sample - loss: 0.0903 - accuracy: 0.9623
Epoch 42/100
25724/25724 [==============================] - 4s 161us/sample - loss: 0.0909 - accuracy: 0.9617
Epoch 43/100
25724/25724 [==============================] - 4s 163us/sample - loss: 0.0903 - accuracy: 0.9623
Epoch 44/100
25724/25724 [==============================] - 4s 161us/sample - loss: 0.0903 - accuracy: 0.9621
Epoch 45/100
25724/25724 [==============================] - 4s 162us/sample - loss: 0.0903 - accuracy: 0.9623
Epoch 46/100
25724/25724 [==============================] - 4s 162us/sample - loss: 0.0898 - accuracy: 0.9620
Epoch 47/100
25724/25724 [==============================] - 4s 159us/sample - loss: 0.0897 - accuracy: 0.9623
Epoch 48/100
25724/25724 [==============================] - 4s 163us/sample - loss: 0.0897 - accuracy: 0.9626
Epoch 49/100
25724/25724 [==============================] - 4s 162us/sample - loss: 0.0897 - accuracy: 0.9621
Epoch 50/100
25724/25724 [==============================] - 4s 160us/sample - loss: 0.0896 - accuracy: 0.9628
Epoch 51/100
25724/25724 [==============================] - 4s 165us/sample - loss: 0.0894 - accuracy: 0.9626
Epoch 52/100
25724/25724 [==============================] - 4s 160us/sample - loss: 0.0893 - accuracy: 0.9628
Epoch 53/100
25724/25724 [==============================] - 4s 163us/sample - loss: 0.0890 - accuracy: 0.9625
Epoch 54/100
25724/25724 [==============================] - 4s 163us/sample - loss: 0.0892 - accuracy: 0.9629
Epoch 55/100
25724/25724 [==============================] - 4s 159us/sample - loss: 0.0889 - accuracy: 0.9627
Epoch 56/100
25724/25724 [==============================] - 4s 163us/sample - loss: 0.0888 - accuracy: 0.9626
Epoch 57/100
25724/25724 [==============================] - 4s 160us/sample - loss: 0.0887 - accuracy: 0.9628
Epoch 58/100
25724/25724 [==============================] - 4s 162us/sample - loss: 0.0885 - accuracy: 0.9628
Epoch 59/100
25724/25724 [==============================] - 4s 163us/sample - loss: 0.0885 - accuracy: 0.9631
Epoch 60/100
25724/25724 [==============================] - 4s 160us/sample - loss: 0.0888 - accuracy: 0.9626
Epoch 61/100
25724/25724 [==============================] - 4s 163us/sample - loss: 0.0883 - accuracy: 0.9629
Epoch 62/100
25724/25724 [==============================] - 4s 162us/sample - loss: 0.0885 - accuracy: 0.9630
Epoch 63/100
25724/25724 [==============================] - 4s 162us/sample - loss: 0.0885 - accuracy: 0.9626
Epoch 64/100
25724/25724 [==============================] - 4s 165us/sample - loss: 0.0904 - accuracy: 0.9615
Epoch 65/100
25724/25724 [==============================] - 4s 168us/sample - loss: 0.0890 - accuracy: 0.9621
Epoch 66/100
25724/25724 [==============================] - 4s 171us/sample - loss: 0.0882 - accuracy: 0.9629
Epoch 67/100
25724/25724 [==============================] - 4s 167us/sample - loss: 0.0882 - accuracy: 0.9630
Epoch 68/100
25724/25724 [==============================] - 4s 166us/sample - loss: 0.0880 - accuracy: 0.9633
Epoch 69/100
25724/25724 [==============================] - 4s 165us/sample - loss: 0.0879 - accuracy: 0.9629
Epoch 70/100
25724/25724 [==============================] - 4s 167us/sample - loss: 0.0879 - accuracy: 0.9625
Epoch 71/100
25724/25724 [==============================] - 4s 166us/sample - loss: 0.0881 - accuracy: 0.9631
Epoch 72/100
25724/25724 [==============================] - 4s 165us/sample - loss: 0.0876 - accuracy: 0.9630
Epoch 73/100
25724/25724 [==============================] - 4s 169us/sample - loss: 0.0878 - accuracy: 0.9635
Epoch 74/100
25724/25724 [==============================] - 4s 165us/sample - loss: 0.0876 - accuracy: 0.9632
Epoch 75/100

25724/25724 [==============================] - 4s 165us/sample - loss: 0.0874 - accuracy: 0.9635
Epoch 76/100
25724/25724 [==============================] - 4s 163us/sample - loss: 0.0876 - accuracy: 0.9628
Epoch 77/100
25724/25724 [==============================] - 4s 165us/sample - loss: 0.0873 - accuracy: 0.9635
Epoch 78/100
25724/25724 [==============================] - 4s 164us/sample - loss: 0.0873 - accuracy: 0.9633
Epoch 79/100
25724/25724 [==============================] - 4s 168us/sample - loss: 0.0872 - accuracy: 0.9632
Epoch 80/100
25724/25724 [==============================] - 4s 164us/sample - loss: 0.0871 - accuracy: 0.9631
Epoch 81/100
25724/25724 [==============================] - 4s 163us/sample - loss: 0.0870 - accuracy: 0.9633
Epoch 82/100
25724/25724 [==============================] - 4s 166us/sample - loss: 0.0872 - accuracy: 0.9633
Epoch 83/100
25724/25724 [==============================] - 4s 165us/sample - loss: 0.0873 - accuracy: 0.9633
Epoch 84/100
25724/25724 [==============================] - 4s 165us/sample - loss: 0.0868 - accuracy: 0.9634
Epoch 85/100
25724/25724 [==============================] - 4s 163us/sample - loss: 0.0869 - accuracy: 0.9633
Epoch 86/100
25724/25724 [==============================] - 4s 173us/sample - loss: 0.0867 - accuracy: 0.9630
Epoch 87/100
25724/25724 [==============================] - 4s 168us/sample - loss: 0.0870 - accuracy: 0.9636
Epoch 88/100
25724/25724 [==============================] - 4s 165us/sample - loss: 0.0866 - accuracy: 0.9635
Epoch 89/100
25724/25724 [==============================] - 4s 164us/sample - loss: 0.0868 - accuracy: 0.9635
Epoch 90/100
25724/25724 [==============================] - 4s 165us/sample - loss: 0.0870 - accuracy: 0.9635
Epoch 91/100
25724/25724 [==============================] - 4s 167us/sample - loss: 0.0868 - accuracy: 0.9633
Epoch 92/100
25724/25724 [==============================] - 4s 161us/sample - loss: 0.0867 - accuracy: 0.9635
Epoch 93/100
25724/25724 [==============================] - 4s 171us/sample - loss: 0.0865 - accuracy: 0.9640
Epoch 94/100
25724/25724 [==============================] - 4s 163us/sample - loss: 0.0865 - accuracy: 0.9633
Epoch 95/100
25724/25724 [==============================] - 4s 163us/sample - loss: 0.0867 - accuracy: 0.9636
Epoch 96/100
25724/25724 [==============================] - 4s 163us/sample - loss: 0.0866 - accuracy: 0.9637
Epoch 97/100
25724/25724 [==============================] - 4s 162us/sample - loss: 0.0867 - accuracy: 0.9636
Epoch 98/100
25724/25724 [==============================] - 4s 169us/sample - loss: 0.0868 - accuracy: 0.9637
Epoch 99/100
25724/25724 [==============================] - 4s 167us/sample - loss: 0.0864 - accuracy: 0.9635
Epoch 100/100
25724/25724 [==============================] - 4s 161us/sample - loss: 0.0864 - accuracy: 0.9635
8575/1 - 4s - loss: 0.4965 - accuracy: 0.7767
Loss: 0.5543530364495325, Accuracy: 0.77667635679245

# Optimization
7.Do your best to optimize your model training and input data to achieve a target predictive accuracy higher than 75%.

In [73]:
#Try an additional neuron in 2nd hidden layer
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 7
hidden_nodes_layer2 = 5

nn_new = tf.keras.models.Sequential()

# First hidden layer
nn_new.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn_new.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn_new.add(
    tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_new.summary()

Model: "sequential_6"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_18 (Dense)             (None, 7)                 137802
_________________________________________________________________
dense_19 (Dense)             (None, 5)                 40
_________________________________________________________________
dense_20 (Dense)             (None, 1)                 6
=================================================================
Total params: 137,848
Trainable params: 137,848
Non-trainable params: 0
_________________________________________________________________

In [74]:
# Compile the model
nn_new.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn_new.fit(X_train_scaled, y_train, epochs=50)

# Evaluate the model using the test data
model_loss, model_accuracy = nn_new.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Train on 25724 samples
Epoch 1/50
25724/25724 [==============================] - 5s 186us/sample - loss: 0.5117 - accuracy: 0.7538
Epoch 2/50
25724/25724 [==============================] - 4s 141us/sample - loss: 0.2746 - accuracy: 0.8543
Epoch 3/50
25724/25724 [==============================] - 4s 164us/sample - loss: 0.2039 - accuracy: 0.9041
Epoch 4/50
25724/25724 [==============================] - 4s 165us/sample - loss: 0.1622 - accuracy: 0.9372
Epoch 5/50
25724/25724 [==============================] - 4s 167us/sample - loss: 0.1470 - accuracy: 0.9413
Epoch 6/50
25724/25724 [==============================] - 4s 172us/sample - loss: 0.1225 - accuracy: 0.9553
Epoch 7/50
25724/25724 [==============================] - 5s 175us/sample - loss: 0.1082 - accuracy: 0.9581
Epoch 8/50
25724/25724 [==============================] - 4s 171us/sample - loss: 0.1049 - accuracy: 0.9586
Epoch 9/50
25724/25724 [==============================] - 5s 184us/sample - loss: 0.1023 - accuracy: 0.9585
Epoch 10/50
25724/25724 [==============================] - 4s 174us/sample - loss: 0.1017 - accuracy: 0.9588
Epoch 11/50
25724/25724 [==============================] - 5s 189us/sample - loss: 0.1013 - accuracy: 0.9596
Epoch 12/50
25724/25724 [==============================] - 4s 174us/sample - loss: 0.1008 - accuracy: 0.9596
Epoch 13/50
25724/25724 [==============================] - 4s 158us/sample - loss: 0.1006 - accuracy: 0.9598
Epoch 14/50
25724/25724 [==============================] - 4s 167us/sample - loss: 0.1005 - accuracy: 0.9597
Epoch 15/50
25724/25724 [==============================] - 4s 170us/sample - loss: 0.1002 - accuracy: 0.9600
Epoch 16/50
25724/25724 [==============================] - 4s 159us/sample - loss: 0.0994 - accuracy: 0.9596
Epoch 17/50
25724/25724 [==============================] - 4s 173us/sample - loss: 0.0997 - accuracy: 0.9597
Epoch 18/50
25724/25724 [==============================] - 4s 169us/sample - loss: 0.0996 - accuracy: 0.9600
Epoch 19/50
25724/25724 [==============================] - 4s 167us/sample - loss: 0.0995 - accuracy: 0.9600
Epoch 20/50
25724/25724 [==============================] - 4s 168us/sample - loss: 0.0989 - accuracy: 0.9603
Epoch 21/50
25724/25724 [==============================] - 4s 168us/sample - loss: 0.0989 - accuracy: 0.9601
Epoch 22/50
25724/25724 [==============================] - 4s 167us/sample - loss: 0.0982 - accuracy: 0.9606
Epoch 23/50
25724/25724 [==============================] - 4s 171us/sample - loss: 0.0984 - accuracy: 0.9603
Epoch 24/50
25724/25724 [==============================] - 4s 168us/sample - loss: 0.0983 - accuracy: 0.9610
Epoch 25/50
25724/25724 [==============================] - 4s 166us/sample - loss: 0.0977 - accuracy: 0.9605
Epoch 26/50
25724/25724 [==============================] - 4s 167us/sample - loss: 0.0975 - accuracy: 0.9609
Epoch 27/50
25724/25724 [==============================] - 4s 175us/sample - loss: 0.0976 - accuracy: 0.9609
Epoch 28/50
25724/25724 [==============================] - 5s 177us/sample - loss: 0.0977 - accuracy: 0.9609
Epoch 29/50
25724/25724 [==============================] - 4s 163us/sample - loss: 0.0974 - accuracy: 0.9605
Epoch 30/50
25724/25724 [==============================] - 4s 162us/sample - loss: 0.0970 - accuracy: 0.9609
Epoch 31/50
25724/25724 [==============================] - 4s 164us/sample - loss: 0.0970 - accuracy: 0.9605
Epoch 32/50
25724/25724 [==============================] - 4s 156us/sample - loss: 0.0968 - accuracy: 0.9615
Epoch 33/50
25724/25724 [==============================] - 4s 164us/sample - loss: 0.0968 - accuracy: 0.9617
Epoch 34/50
25724/25724 [==============================] - 4s 163us/sample - loss: 0.0967 - accuracy: 0.9607
Epoch 35/50
25724/25724 [==============================] - 4s 161us/sample - loss: 0.0966 - accuracy: 0.9609
Epoch 36/50
25724/25724 [==============================] - 4s 160us/sample - loss: 0.0961 - accuracy: 0.9614
Epoch 37/50
25724/25724 [==============================] - 4s 162us/sample - loss: 0.0962 - accuracy: 0.9614
Epoch 38/50
25724/25724 [==============================] - 4s 162us/sample - loss: 0.0960 - accuracy: 0.9617
Epoch 39/50
25724/25724 [==============================] - 4s 165us/sample - loss: 0.0960 - accuracy: 0.9612
Epoch 40/50
25724/25724 [==============================] - 4s 161us/sample - loss: 0.0959 - accuracy: 0.9612
Epoch 41/50
25724/25724 [==============================] - 4s 161us/sample - loss: 0.0956 - accuracy: 0.9616
Epoch 42/50
25724/25724 [==============================] - 4s 162us/sample - loss: 0.0952 - accuracy: 0.9617
Epoch 43/50
25724/25724 [==============================] - 4s 160us/sample - loss: 0.0952 - accuracy: 0.9616
Epoch 44/50
25724/25724 [==============================] - 4s 157us/sample - loss: 0.0948 - accuracy: 0.9622
Epoch 45/50
25724/25724 [==============================] - 4s 162us/sample - loss: 0.0948 - accuracy: 0.9617
Epoch 46/50
25724/25724 [==============================] - 4s 160us/sample - loss: 0.0969 - accuracy: 0.9622
Epoch 47/50
25724/25724 [==============================] - 4s 164us/sample - loss: 0.0949 - accuracy: 0.9623
Epoch 48/50
25724/25724 [==============================] - 4s 164us/sample - loss: 0.0922 - accuracy: 0.9620
Epoch 49/50
25724/25724 [==============================] - 4s 166us/sample - loss: 0.0906 - accuracy: 0.9624
Epoch 50/50
25724/25724 [==============================] - 4s 175us/sample - loss: 0.0900 - accuracy: 0.9629
8575/1 - 1s - loss: 0.6166 - accuracy: 0.5813
Loss: 0.6563805766286377, Accuracy: 0.5813410878181458